<ion-header>
  <ion-navbar>
    <ion-title>
      Home Page
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <button ion-button (click) = "click()">Click this button</button>
  <button ion-button [navPush] = "firstPage">Go to First Page</button>
</ion-content>
